In [ ]:
Name: Rishik Reddy Bandi
RegNO: 220968300
RollNo:39/B2

In [1]:
import pandas as pd
import numpy as np
df=pd.read_excel('Cereals1.xls')

In [2]:
#1.Create a table with the 5-number summary of all the numeric attributes
df.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,107.368421,2.526316,1.013158,160.065789,2.048684,14.723684,6.934211,93.657895,28.289474,2.197368,1.030000,0.827500,42.327057
std,19.139378,1.089020,1.013159,84.318813,2.219038,4.160444,4.473136,68.502565,22.487813,0.832982,0.151438,0.227204,13.820602
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,132.500000,0.750000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,32.932466
50%,110.000000,2.500000,1.000000,180.000000,1.750000,14.500000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.253086
75%,110.000000,3.000000,2.000000,212.500000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.780847
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [3]:
#2.For each of the numeric attributes (proteins up to vitamins), identify and replace all 
    #missing data (indicated with -1) with the arithmetic mean of the attribute.


numeric_attributes=['calories','protein','fat','sodium','fiber','carbo','sugars','potass','vitamins','shelf','weight','cups','rating']
df=df.mask(df==-1).fillna(df.mean())
df.describe()

C:\Users\rrban\AppData\Local\Temp\ipykernel_24720\4225523166.py:6: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df=df.mask(df==-1).fillna(df.mean())

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,107.368421,2.526316,1.013158,160.065789,2.048684,14.930575,7.038608,96.148892,28.289474,2.197368,1.030000,0.827500,42.327057
std,19.139378,1.089020,1.013159,84.318813,2.219038,3.737575,4.377048,66.688658,22.487813,0.832982,0.151438,0.227204,13.820602
min,50.000000,1.000000,0.000000,0.000000,0.000000,7.000000,0.000000,15.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,132.500000,0.750000,12.000000,3.000000,43.750000,25.000000,1.000000,1.000000,0.670000,32.932466
50%,110.000000,2.500000,1.000000,180.000000,1.750000,14.861842,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.253086
75%,110.000000,3.000000,2.000000,212.500000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.780847
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [4]:
#3.

#Yes, the strategy used in dealing with missing values was effective

In [5]:
#Calulating the inter quartile range of each numeric attibute.
for attribute in numeric_attributes:
    q1 = df[attribute].quantile(0.25)
    q3 = df[attribute].quantile(0.75)
    iqr = q3 - q1
    print(attribute,iqr)

calories 10.0
protein 1.0
fat 2.0
sodium 80.0
fiber 2.25
carbo 5.0
sugars 8.0
potass 76.25
vitamins 0.0
shelf 2.0
weight 0.0
cups 0.32999999999999996
rating 17.848381250000003

In [6]:
#Calculating the lower limit for each numeric attribute
for attribute in numeric_attributes:
    q1 = df[attribute].quantile(0.25)
    q3 = df[attribute].quantile(0.75)
    iqr = q3 - q1
    lower_limit=q1-1.5*iqr
    print(attribute,lower_limit)

calories 85.0
protein 0.5
fat -3.0
sodium 12.5
fiber -2.625
carbo 4.5
sugars -9.0
potass -70.625
vitamins 25.0
shelf -2.0
weight 1.0
cups 0.1750000000000001
rating 6.159894124999994

In [7]:
#Calculating the upper limit for each numeric attribute
for attribute in numeric_attributes:
    q1 = df[attribute].quantile(0.25)
    q3 = df[attribute].quantile(0.75)
    iqr = q3 - q1
    upper_limit=q3+1.5*iqr
    print(attribute,upper_limit)

calories 125.0
protein 4.5
fat 5.0
sodium 332.5
fiber 6.375
carbo 24.5
sugars 23.0
potass 234.375
vitamins 25.0
shelf 6.0
weight 1.0
cups 1.4949999999999999
rating 77.553419125

In [8]:
#4.For each of the numeric attributes, identify and replace all noisy data with the median of attribute. 
for attribute in numeric_attributes:
    q1 = df[attribute].quantile(0.25)
    q3 = df[attribute].quantile(0.75)
    iqr = q3 - q1
    lower_limit = q1 - 1.5 * iqr
    upper_limit = q3 + 1.5 * iqr
    mask = (df[attribute] < lower_limit) | (df[attribute] > upper_limit)
    median_value = df[attribute].median()
    df.loc[mask, attribute] = median_value
df.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.0,76.000000,76.0,76.000000,76.000000
mean,107.236842,2.401316,1.013158,181.381579,1.792105,14.930575,7.038608,85.754155,25.0,2.197368,1.0,0.817632,41.623743
std,8.099166,0.875670,1.013159,60.186370,1.520220,3.737575,4.377048,48.049515,0.0,0.832982,0.0,0.213478,12.464724
min,90.000000,1.000000,0.000000,15.000000,0.000000,7.000000,0.000000,15.000000,25.0,1.000000,1.0,0.250000,18.042851
25%,100.000000,2.000000,0.000000,147.500000,0.750000,12.000000,3.000000,43.750000,25.0,1.000000,1.0,0.670000,32.932466
50%,110.000000,2.250000,1.000000,180.000000,1.625000,14.861842,7.000000,90.000000,25.0,2.000000,1.0,0.750000,40.179526
75%,110.000000,3.000000,2.000000,212.500000,3.000000,17.000000,11.000000,110.000000,25.0,3.000000,1.0,1.000000,50.031833
max,120.000000,4.000000,5.000000,320.000000,6.000000,23.000000,15.000000,230.000000,25.0,3.000000,1.0,1.330000,74.472949

In [9]:
#The strategy used in dealing with noisy values was effective.