In [ ]:
Rishik Reddy Bandi
B2-39
220968200

In [1]:
#1. Create a data frame with details of 10 students and columns as Roll Number, Name, Gender, Marks1, Marks2, Marks3.

import pandas as pd

data = {
    'Roll Number': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Name':['Edward','John','Mahesh','Cillian','Robert','Matt','Rishik','Emily','Chris','Steve'],
    'Gender':['M','M','M','M','M','M','M','F','M','M'],
    'Marks1': [85, 70, 60, 45, 95, 75, 100, 55, 65, 50],
    'Marks2': [90, 85, 40, 20, 30, 55, 100, 96, 30, 80],
    'Marks3': [70, 80, 90, 50, 60, 75, 100, 40, 55, 65]
}
row_labels=[1,2,3,4,5,6,7,8,9,10]
df = pd.DataFrame(data)
print(df)

   Roll Number     Name Gender  Marks1  Marks2  Marks3
0            1   Edward      M      85      90      70
1            2     John      M      70      85      80
2            3   Mahesh      M      60      40      90
3            4  Cillian      M      45      20      50
4            5   Robert      M      95      30      60
5            6     Matt      M      75      55      75
6            7   Rishik      M     100     100     100
7            8    Emily      F      55      96      40
8            9    Chris      M      65      30      55
9           10    Steve      M      50      80      65

In [2]:
#2. Create a new column with total marks

df['Total Marks'] = df['Marks1'] + df['Marks2'] + df['Marks3']
print(df)

   Roll Number     Name Gender  Marks1  Marks2  Marks3  Total Marks
0            1   Edward      M      85      90      70          245
1            2     John      M      70      85      80          235
2            3   Mahesh      M      60      40      90          190
3            4  Cillian      M      45      20      50          115
4            5   Robert      M      95      30      60          185
5            6     Matt      M      75      55      75          205
6            7   Rishik      M     100     100     100          300
7            8    Emily      F      55      96      40          191
8            9    Chris      M      65      30      55          150
9           10    Steve      M      50      80      65          195

In [3]:
#3. Find the lowest marks in Marks1

lmarks1 = df['Marks1'].min()
print("Lowest Marks in Marks1:", lmarks1)

Lowest Marks in Marks1: 45

In [4]:
#4. Find the Highest marks in Marks2

hmarks2 = df['Marks2'].max()
print("Highest Marks in Marks2:", hmarks2)

Highest Marks in Marks2: 100

In [5]:
#5. Find the average marks in Marks3

avgmarks3 = df['Marks3'].mean()
print("Average Marks in Marks3:", avgmarks3)

Average Marks in Marks3: 68.5

In [6]:
#6. Find student name with highest average

df['Average'] = (df['Marks1'] + df['Marks2'] + df['Marks3']) / 3
highest_average_student = df.loc[df['Average'].idxmax(), 'Name']
print("Student with the highest average:", highest_average_student)

Student with the highest average: Rishik

In [7]:
#7. Find how many students failed in Marks2 (<40

fmarks2 = df[df['Marks2'] < 40]
print("Number of students failed in Marks2:", len(fmarks2))

Number of students failed in Marks2: 3