In [ ]:
Rishik Reddy Bandi
220968300
B2-39

In [11]:
import pandas as pd
import numpy as np

In [12]:
df=pd.read_table('groceries.csv',header=None)
df

                                                      0
0     citrus fruit,semi-finished bread,margarine,rea...
1                          tropical fruit,yogurt,coffee
2                                            whole milk
3           pip fruit,yogurt,cream cheese ,meat spreads
4     other vegetables,whole milk,condensed milk,lon...
...                                                 ...
9830  sausage,chicken,beef,hamburger meat,citrus fru...
9831                                  cooking chocolate
9832  chicken,citrus fruit,other vegetables,butter,y...
9833  semi-finished bread,bottled water,soda,bottled...
9834  chicken,tropical fruit,other vegetables,vinega...

[9835 rows x 1 columns]

In [13]:
#1. How many transactions and items are there in the data set?
# Tranctions
df.shape[0]

9835

In [14]:
#Items

list = []
df[0].map(lambda x : list.append(len(x.split(","))))
print(f"Total items in a datasets are = {max(list)}")

Total items in a datasets are = 32

In [15]:
#2. Prepare the data for finding association rules. Each transaction will contain a list of item #in the transaction.
#[['citrus fruit', 'semi-finished bread', 'margarine', 'ready soups'],['tropical fruit', 'yogurt', 'coffee'],…….['whole milk']]

In [16]:
df[0] = df[0].apply(lambda x : x.split(","))
df

                                                      0
0     [citrus fruit, semi-finished bread, margarine,...
1                      [tropical fruit, yogurt, coffee]
2                                          [whole milk]
3      [pip fruit, yogurt, cream cheese , meat spreads]
4     [other vegetables, whole milk, condensed milk,...
...                                                 ...
9830  [sausage, chicken, beef, hamburger meat, citru...
9831                                [cooking chocolate]
9832  [chicken, citrus fruit, other vegetables, butt...
9833  [semi-finished bread, bottled water, soda, bot...
9834  [chicken, tropical fruit, other vegetables, vi...

[9835 rows x 1 columns]

In [17]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [18]:
#3. Use Python library mlxtend and convert the transactions into a format that can be used 
#   in the Apriori method for finding frequent itemsets. 

te = TransactionEncoder()
te_ary = te.fit(df[0]).transform(df[0])
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,baby food,bags,baking powder,bathroom cleaner,beef,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,False,False,False,True,False,False
9831,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9832,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
9833,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9834,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False

In [19]:
#4. Find top selling items with minimum support of 2%.

apriori(df, min_support=0.02,use_colnames = True).sort_values(by = "support" , ascending = False).head()

     support            itemsets
57  0.255516        (whole milk)
39  0.193493  (other vegetables)
43  0.183935        (rolls/buns)
49  0.174377              (soda)
58  0.139502            (yogurt)

In [20]:
#5. Find all frequent itemsets with minimum support of 5%

apriori(df, min_support=0.05,use_colnames = True).sort_values(by = "support")

     support                        itemsets
13  0.052364                       (napkins)
0   0.052466                          (beef)
8   0.053279                          (curd)
4   0.055414                        (butter)
30  0.056024            (yogurt, whole milk)
29  0.056634        (rolls/buns, whole milk)
18  0.057651                          (pork)
7   0.058058                        (coffee)
12  0.058566                     (margarine)
10  0.058973                   (frankfurter)
9   0.063447                 (domestic eggs)
3   0.064870                   (brown bread)
25  0.071683            (whipped/sour cream)
11  0.072293         (fruit/vegetable juice)
28  0.074835  (other vegetables, whole milk)
17  0.075648                     (pip fruit)
5   0.077682                   (canned beer)
14  0.079817                    (newspapers)
1   0.080529                  (bottled beer)
6   0.082766                  (citrus fruit)
16  0.088968                        (pastry)
21  0.093950                       (sausage)
22  0.098526                 (shopping bags)
24  0.104931                (tropical fruit)
20  0.108998               (root vegetables)
2   0.110524                 (bottled water)
27  0.139502                        (yogurt)
23  0.174377                          (soda)
19  0.183935                    (rolls/buns)
15  0.193493              (other vegetables)
26  0.255516                    (whole milk)

In [21]:
#6. Find all frequent itemsets of length 2 with minimum support of 2%

frequent_itemsets = apriori(df, min_support=0.02, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

      support                                         itemsets  length
0    0.033452                                       (UHT-milk)       1
1    0.052466                                           (beef)       1
2    0.033249                                        (berries)       1
3    0.026029                                      (beverages)       1
4    0.080529                                   (bottled beer)       1
..        ...                                              ...     ...
117  0.032232                 (whipped/sour cream, whole milk)       2
118  0.020742                     (yogurt, whipped/sour cream)       2
119  0.056024                             (yogurt, whole milk)       2
120  0.023183  (other vegetables, whole milk, root vegetables)       3
121  0.022267           (yogurt, other vegetables, whole milk)       3

[122 rows x 3 columns]

In [26]:
frequent_itemsets[frequent_itemsets['length']==2]

      support                           itemsets  length
59   0.021251                 (beef, whole milk)       2
60   0.020437         (bottled beer, whole milk)       2
61   0.024809  (other vegetables, bottled water)       2
62   0.024199        (rolls/buns, bottled water)       2
63   0.028978              (soda, bottled water)       2
..        ...                                ...     ...
115  0.042298       (whole milk, tropical fruit)       2
116  0.029283           (yogurt, tropical fruit)       2
117  0.032232   (whipped/sour cream, whole milk)       2
118  0.020742       (yogurt, whipped/sour cream)       2
119  0.056024               (yogurt, whole milk)       2

[61 rows x 3 columns]

In [24]:
#7. Find the top 10 association rules with minimum support of 2%, sorted by confidence in descending order.

var = apriori(df, min_support=0.02, use_colnames=True)
var = association_rules(var, metric="lift")
var.sort_values(by="confidence" , ascending =False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
128,"(yogurt, other vegetables)",(whole milk),0.043416,0.255516,0.022267,0.512881,2.007235,0.011174,1.528340,0.524577
18,(butter),(whole milk),0.055414,0.255516,0.027555,0.497248,1.946053,0.013395,1.480817,0.514659
26,(curd),(whole milk),0.053279,0.255516,0.026131,0.490458,1.919481,0.012517,1.461085,0.505984
123,"(other vegetables, root vegetables)",(whole milk),0.047382,0.255516,0.023183,0.489270,1.914833,0.011076,1.457687,0.501524
124,"(root vegetables, whole milk)",(other vegetables),0.048907,0.193493,0.023183,0.474012,2.449770,0.013719,1.533320,0.622230
...,...,...,...,...,...,...,...,...,...,...
79,(whole milk),(pork),0.255516,0.057651,0.022166,0.086749,1.504719,0.007435,1.031862,0.450546
1,(whole milk),(beef),0.255516,0.052466,0.021251,0.083168,1.585180,0.007845,1.033487,0.495856
33,(whole milk),(frankfurter),0.255516,0.058973,0.020539,0.080382,1.363029,0.005470,1.023280,0.357751
3,(whole milk),(bottled beer),0.255516,0.080529,0.020437,0.079984,0.993237,-0.000139,0.999408,-0.009064
34,(whole milk),(frozen vegetables),0.255516,0.048094,0.020437,0.079984,1.663094,0.008149,1.034663,0.535554

In [25]:
#8. Find association rules with minimum support of 2% and lift of more than 1.0.

var[var['lift']>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(beef),(whole milk),0.052466,0.255516,0.021251,0.405039,1.585180,0.007845,1.251315,0.389597
1,(whole milk),(beef),0.255516,0.052466,0.021251,0.083168,1.585180,0.007845,1.033487,0.495856
4,(other vegetables),(bottled water),0.193493,0.110524,0.024809,0.128219,1.160101,0.003424,1.020297,0.171116
5,(bottled water),(other vegetables),0.110524,0.193493,0.024809,0.224471,1.160101,0.003424,1.039945,0.155154
6,(rolls/buns),(bottled water),0.183935,0.110524,0.024199,0.131564,1.190373,0.003870,1.024228,0.195974
...,...,...,...,...,...,...,...,...,...,...
129,"(yogurt, whole milk)",(other vegetables),0.056024,0.193493,0.022267,0.397459,2.054131,0.011427,1.338511,0.543633
130,"(other vegetables, whole milk)",(yogurt),0.074835,0.139502,0.022267,0.297554,2.132979,0.011828,1.225003,0.574138
131,(yogurt),"(other vegetables, whole milk)",0.139502,0.074835,0.022267,0.159621,2.132979,0.011828,1.100890,0.617284
132,(other vegetables),"(yogurt, whole milk)",0.193493,0.056024,0.022267,0.115081,2.054131,0.011427,1.066737,0.636294
133,(whole milk),"(yogurt, other vegetables)",0.255516,0.043416,0.022267,0.087147,2.007235,0.011174,1.047905,0.674027